<h1><%= title %></h1>

<h2>Title</h2>
<div class="user-input-title"><%= post.escape("title") %></div>
<br>

<h2>Body</h2>
<div class="user-input-body"><%= post.escape("body") %></div>
<br>
<br>
<a href="/">Back</a>